<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channel page</title>
    <link rel="stylesheet" href="/public/stylesheets/channel.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- beginning of header  -->
    <header>
        <!-- logo  -->
        <div class="brd-logo-wrapper">
            <div class="menu-btn">
                <span class="bx bx-menu bx-sm"></span>
            </div>
            
            <a href="#" class="brd-logo"><img src="/public/images/VooTube-logo (1)/cover.png"  alt=""></a>
        </div>

        <!-- search bar -->
        <div class="search-bar-wrapper">
            <form action="" method="get">
                <div class="nav-search">
                    <input type="search" name="search" id="search">
                </div> 
                <div>
                    <button type="submit"  class="nav-sr-btn"><i class="bx bx-search-alt bx-border"></i></button>
                </div>
            </form>
        </div>

        <!-- icons  -->
        <div class="icons-wrapper">
            <a href="#" id="create-vid-icon"><i class="bx bx-video-plus bx-md"></i></a>

            <div class="notifications-wrap">
                <button id="bell-btn"><i class='bx bx-bell bx-tada-hover bx-md'></i></button>
                <span id="notifications">4</span>
            </div>
            <button class="sign-in-btn">sign in</button>

            <button class="user-settings-btn">S</button>
            
        </div>

        
    </header>

    <!-- end of header  -->
    <!-- start of main  -->
    <main>
        <section class=" main-columns video-play-wrapper">
            <div class="video-player-wrap">
                <div class="video-player">
                    <div class="video-icons-wrap">
                    
          <!-- creating the controls  -->
                            <!-- creating the left controls  -->
                        <div class="left-controls">
                            <div class="video-icon">
                                <!-- <button class="btn"> -->
                                    <i class="bx bx-play bx-md"></i>
                                <!-- </button> -->
                            
                            </div>
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            
                            </div>
                            <div class="video-icon">
                              <i class="bx bx-play bx-md"></i>
                            </div>
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            
                            </div>
                        </div>
    
                              <!-- styling the right controls                       <div class="right-controls"> -->
                        <div class="right-controls">
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            
                            </div>
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            
                            </div>
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            
                            </div>
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            
                            </div>
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            
                            </div>
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            </div>
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            </div>
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            </div>
                            <div class="video-icon">
                                <i class="bx bx-play bx-md"></i>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
              
            
        </section>

        <section class="main-columns related-content-wrapper">
            <div class="content">hey</div>
        </section>
    </main>
</body>
</html>