* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr repeat(3, 50%);
  grid-template-areas: "header header header" "main main main" "main main main" "main main main";
}

header {
  width: 100%;
  height: 70px;
  grid-area: header;
  outline: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
}
header .brd-logo-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}
header .brd-logo-wrapper span {
  transition: border-radius, ease-in 1s;
  padding: 0.3rem;
  border-radius: 50%;
}
header .brd-logo-wrapper span:hover {
  background-color: rgba(189, 93, 71, 0.932);
  cursor: pointer;
}
header .brd-logo-wrapper .menu-btn {
  margin-left: 10px;
}
header .brd-logo-wrapper .brd-logo img {
  width: 150px;
  height: 50px;
}
header .search-bar-wrapper {
  width: 450px;
  margin-left: -50px;
  padding: 0.2rem;
}
header .search-bar-wrapper form {
  display: flex;
  align-items: center;
}
header .search-bar-wrapper #search {
  width: 400px;
  height: 45px;
  border-radius: 5px;
  outline: 1px solid rgb(179, 177, 177);
  border: none;
  padding: 0.5rem;
}
header .search-bar-wrapper .bx-search-alt {
  padding: 0.6rem;
  font-size: 25px;
  background-color: rgba(189, 93, 71, 0.932);
}
header .search-bar-wrapper .nav-sr-btn {
  border: none;
  background: none;
}
header .icons-wrapper {
  margin-right: 100px;
  width: 200px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .icons-wrapper #create-vid-icon {
  color: black;
}
header .icons-wrapper .notifications-wrap {
  position: relative;
}
header .icons-wrapper .notifications-wrap #bell-btn {
  display: block;
  border: none;
  background: none;
}
header .icons-wrapper .notifications-wrap .bx-bell {
  color: black;
  font-weight: 100;
}
header .icons-wrapper .notifications-wrap #notifications {
  background-color: red;
  color: white;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 18px;
  z-index: 5;
  font-weight: 500;
  font-family: calibri;
  font-size: 14px;
  width: auto;
  padding: 0 5px 0 5px;
  text-align: center;
}
header .icons-wrapper .sign-in-btn {
  padding: 0.5rem;
  background-color: rgba(189, 93, 71, 0.932);
  border: none;
  border-radius: 5px;
}
header .icons-wrapper .user-settings-btn {
  width: 50px;
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 15px;
  display: none;
}

main {
  outline: 2px solid black;
  margin-top: 70px;
  height: 100%;
  width: 100%;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.85fr;
  grid-template-rows: repeat(3, 50%);
  grid-template-areas: "col-1 col-1 col-2" "col-1 col-1 col-2" "col-1 col-1 col-2";
  gap: 1rem;
}
main .main-columns {
  padding: 1rem;
}
main .related-content-wrapper {
  grid-area: col-2;
  background-color: red;
}
main .video-play-wrapper {
  grid-area: col-1;
  background-color: teal;
  outline: 2px solid black;
}
main .video-play-wrapper .video-player-wrap .video-player {
  width: 100%;
  height: 550px;
  background-color: black;
  position: relative;
  z-index: 9;
}
main .video-play-wrapper .video-player-wrap .video-icons-wrap {
  width: 100%;
  height: 50px;
  outline: 2px solid black;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  top: 500px;
  left: 0;
}
main .video-play-wrapper .video-player-wrap .video-icons-wrap .right-controls, main .video-play-wrapper .video-player-wrap .video-icons-wrap .left-controls {
  display: inherit;
}
main .video-play-wrapper .video-player-wrap .video-icons-wrap .right-controls {
  width: auto;
  outline: 2px solid black;
}
main .video-play-wrapper .video-player-wrap .video-icons-wrap .right-controls .video-icon {
  padding-left: 20px;
  outline: 2px solid black;
  width: 50px;
}
main .video-play-wrapper .video-player-wrap .video-icons-wrap .right-controls .video-icon i {
  text-align: center;
}
main .video-play-wrapper .video-player-wrap .video-icons-wrap .video-icon > .bx {
  color: rgba(159, 51, 21, 0.913);
}

/*# sourceMappingURL=channel.css.map */
